$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import url(http://fonts.googleapis.com/css?family=Maven+Pro);

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

body {
	position: relative;
}

#map{
	min-height: 600px;
}

.ct-chart .ct-label.ct-horizontal {
  color: #333;
  fill: #333;
  font-size: 1.75em;
}

img {
	width: 400px;
	height: 600px;
}


.affix-top {
  top: 0;
}
#myAffix .highlights-container {

  p {
    text-align: center;
  }
  // text-align: center;
  // text-align: center;
  // position: relative;
  // font-size: 30px;
  // position: absolute;
  // bottom: 0;
}

#myAffix {
	top: 0px;
	height: 600px;
}

.affix-bottom{
	position: absolute;
	bottom: 20;
}

.some-numbers{
	position: relative;
}


.fact {
	text-align: center;
	line-height: 500px;
	min-height: 620px;
	border: solid 5px black;
	margin-bottom: 10px;
	padding: 0px 5px;

	h1 {
		text-align: center;
		font-size: 60px;
		vertical-align: middle;
		display: inline-block;
	}

	p {
		vertical-align: middle;
		font-size: 40px;
	}

	.fact-ratio {
		color: blue;
	}

	&:hover {
		border: dashed 5px black;
	}
}

.row.some-numbers{
	border-top: solid 5px black;
}

.row.historical-chart {
	h1 {
	text-align: center;
	}
}

.chart-section {
	padding-bottom: 50px;
}

.more-info {
	color: white;
	background: black;

	b {
		color: yellow;
	}

	h1, h2 {
		font-size: 50px;
		letter-spacing: 0.090em;
	}
}

.question {
	padding: 0px !important;
	border: solid 5px black;
	margin: 20px 0px;

	h1 {
		padding: 0px;
		margin: 0px;
		background-color: black;
		color: white;
	}
}

.ct-chart .ct-series.ct-series-a .ct-point {
	cursor: pointer;
  stroke: blue;
}

.ct-chart .ct-series.ct-series-a .ct-point.emphasis{
  stroke: red;
}

p ,p b{
	font-size: 24px;
	letter-spacing: 0.040em;
	line-height: 1.25;
	font-family: 'Maven Pro';
}



.chart-section {
  background: lighten(black, 10%);
  color: white;
  height: 100%;
}

.city-data{
  height: 100%;
  display: none;

  h1 {
    margin-bottom: -24px;
    padding-bottom: -10px;
  }
}

.title {
	text-align: center;
}

.tooltip {
	position:absolute;
	display:inline-block;
	min-width:5em;
	padding:.5em;
	background:#F4C63D;
	color:#453D3F;
	font-weight:700;
	text-align:center;
	pointer-events:none;
	z-index:1;
}
.tooltip:after {
content:"";
position:absolute;
top:100%;
left:50%;
width:0;
height:0;
margin-left:-15px;
border:15px solid transparent;border-top-color:#F4C63D}code{font-family:"Source Code Pro","Courier New",monospace!important;word-wrap:break-word}.sticky.contain-to-grid{box-shadow:0 3px 0 rgba(0,0,0,.3)}
* {
  letter-spacing: 0.050em;
  font-family: 'Maven Pro';
}

h1,h3,h4 {
	font-family: 'Josefin Sans';
}

h1.title {
	padding-bottom: 50px;
}

.header {
  padding-bottom: 50px;
}

.under {
  margin-top: -15px;
  font-family: 'Maven Pro';
}




