$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import url(http://fonts.googleapis.com/css?family=Maven+Pro);

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

//colors
$highlightColor: #F8F991;
$secondaryColor: #313C5B;
$tertiaryColor: #3D315B;


* {
  letter-spacing: 0.050em;
  font-family: 'Maven Pro';
}

body {
	position: relative;
}

h1,h3,h4 {
	font-family: 'Josefin Sans';
}

p,p b {
	font-size: 24px;
	letter-spacing: 0.040em;
	line-height: 1.25;
	font-family: 'Maven Pro';
}

.title {
	text-align: center;
}

h1.title {
	padding-bottom: 50px;
}

.header {
  padding-bottom: 50px;
}


#usa-map-container{
	@media only screen and (max-width: 767px) {
	    /* phones */
	    display: none;
	}
	#map {
		min-height: 600px;
	}
}


#cities-chart.ct-chart .ct-series.ct-series-a .ct-point {
	cursor: pointer;
	stroke: $tertiaryColor;

	&.emphasis {
		stroke: red;
	}
}

.ct-chart .ct-label.ct-horizontal {
  color: #333;
  fill: #333;
  font-size: 1.75em;
}

.affix-top {
  top: 0;
}

.affix-bottom {
	position: absolute;
	bottom: 20;
}

#usa-map-affix {
	top: 0px;
	height: 600px;
	width: 600px;

	p {
	  text-align: center;
	}

	#map {
		height: 300px;
		width: 600px;
	}
}


.fact {
	text-align: center;
	line-height: 500px;
	min-height: 620px;
	color: white;
	background-color: $secondaryColor;
	margin-bottom: 20px;
	padding: 0px 10px;

	h1 {
		color: white;
		text-align: center;
		font-size: 60px;
		vertical-align: middle;
		display: inline-block;
		max-width: 15ch;
	}

	p {
		vertical-align: middle;
		font-size: 40px;
	}

	.fact-ratio {
		color: $highlightColor;
	}

	&:first-of-type {
		margin-top: 15px;
	}

	&.fact-focus {
		background-color: lighten($secondaryColor, 10%);
		.fact-ratio {
			color: lighten($highlightColor, 10%);
		}
	}
}



.row.some-numbers {
	position: relative;
	border-top: solid 1px #E5E5E5;
}

.row.historical-chart h1 {
	text-align: center;
}


.more-info {
	color: white;
	background: $tertiaryColor;

	b {
		color: $highlightColor;
	}

	h1, h2 {
		font-size: 50px;
		letter-spacing: 0.090em;
		line-height: 130%;
	}

	@media only screen and (max-width: 767px) {
	    h1, h2 {
	    	font-size: 30px;
	    }
	}

}

.city-data {
  height: 455px;
  display: none;

  h1 {
    margin-bottom: -24px;
    padding-bottom: -10px;
  }
}

.chart-section {
	padding-bottom: 50px;
	background: #333;
	color: white;
}






